<!DOCTYPE html>
<html>
<head>
  <title>Hyperlapse</title>
  <link rel="shortcut icon" href="img-tag" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
  <script src="javascripts/three.min.js"></script>
  <script src="javascripts/GSVPano.js"></script>
  <script src="javascripts/Hyperlapse.js"></script>
</head>
<body>

<%= yield %>


</body>
</html>
