<h1>List of Locations</h1>
<!--  Locations index page - iterate through variable, generate a link using the name and putting the lat and long in the link  -->

<% if @locations.length == 0 %>
  <%= link_to "Your search yielded no results. Please try again.", '/', style: 'color:black;'%>
<% else %>
  <% @locations.each do |location| %>
    <div id="location">
      <%= location[:name] %>
      <br>
      <% location[:address].each do |address| %>
      <%= address %>
    </br>
      <% end %>
    </div>
  <% end %>
<% end %>
